body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

form {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    color: #333;
    margin-top: 20px;
}

p {
    color: #333333;
}
.p2{
    margin-top: 20px;
    max-width: 50%;
    text-align: center;
}
 body {
     font-family: 'Arial', sans-serif;
     background-color: #f0f0f0;
     color: #333;
     margin: 0;
     padding: 0;
     text-align: center;
     /* Center text in the body */
 }

 .wrapper {
     max-width: 800px;
     margin: 20px auto;
     /* Center the wrapper horizontally */
     padding: 20px;
     background-color: #fff;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     text-align: left;
     /* Reset text alignment for the content inside the wrapper */
 }


 .p2 {
     font-size: 18px;
 }