.pageno {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
}

.container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    max-width: 1700px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 20px 20px 20px rgba(0, 0, 0, 0.1);
    align-items: center;
    height: 100%;
    width: 100%;
}

.product {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    height: 100%;
    width: 25%;

}

.product img {
    min-width: 100px;
    min-height: 100px;
    object-fit: contain;
    margin-right: 10px;
    border-radius: 10px;
    filter: drop-shadow(0 0 5px rgb(0, 0, 0));
}

.product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 30px;
}

.product-title {
    font-size: 18px;
    margin: 0;
}

.product-description {
    color: #666;
}

.product-price {
    font-weight: bold;
    margin-top: 10px;
}

.selected-page {
    color: red;
    font-weight: bold;

}

.div-5 {
    width: 500px;
}

.div-6 {
    padding-top: 65px;
    white-space: nowrap;
    font: 400 20px/28px Open Sans, sans-serif;
}

.div-7 {
    fill: #ebebeb;
    display: flex;
    margin-top: 13px;
    width: 169px;
    max-width: 100%;
    flex-direction: column;
}

.div-8 {
    background-color: #cb0e4e;
    display: flex;
    height: 1px;
    flex-direction: column;
}

.genre-container {
    display: flex;
    flex-wrap: wrap;
    /* Allow items to wrap to the next line if they don't fit */
    justify-content: space-between;
    /* Distribute items evenly along the main axis */
    align-items: center;
    /* Center items along the cross axis */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.genre-container .product {
    flex-basis: 24%;
    /* Set the initial size of each product box */
    margin-bottom: 10px;
}

.genre-container img {
    max-width: 100%;
    height: auto;
}

.sgenre {
    min-height: 40vh;
}