body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

h3 {
    text-align: center;
    color: #333;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    
}

table,
th,
td {
    border: 1px solid #ddd;
        margin-top: 270px;

}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}